extends layout

block content
  h1= title
  p Dobrodošli na delu portala #{title}, kjer je na voljo RESTful API.
  p /slovar : seznam besed v slovarju slovenskega znakovnega jezika
  p /slovar?q=beseda : opis in kretanje za iskano besedo
  p /sklopi : seznam tematskih sklopov
  p /sklopi?q=sklop : seznam besed v iskanem sklopu